// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$font-family-boss: Arial;
$font-family-tittle: Georgia;
$font-family-text: Verdana;

$font-size-tittle: 20px;

$primary-color: rgb(19, 255, 184)