// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

@import 'reset.scss';

$font-family-navbar: Poppins;
$font-family-tittle: Georgia;
$font-family-text: Verdana;

$font-size-header: 30px;
$font-size-tittle: 25px;
$font-size-content: 16px;

$background-default-color: rgb(34, 34, 34);
$background-on-header-color: rgb(49, 49, 49);
$contrast-to-background-color: #08a045;
$font-color: rgb(255, 255, 255);
